# Maven
/target/

# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# IDEs
/.idea/
*.iml
.vscode/

# OS files
.DS_Store
Thumbs.db

# Local config
config.properties
